<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
     <File name="FILE" fileName="/var/log/aws-kinesis-agent/aws-kinesis-agent.log" append="true">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSSZ} %X{hostname} (%t) %c [%p] %m%n" />
     </File>
     <File name="FALLBACK" fileName="/tmp/fallback-aws-kinesis-agent.log" append="true">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSSZ} %X{hostname} (%t) %c [%p] %m%n" />
     </File>
     <Console name="STDOUT" target="SYSTEM_OUT">
        <PatternLayout pattern="LOG: %d{yyyy-MM-dd HH:mm:ss.SSSZ} %X{hostname} (%t) %c [%p] %m%n" />
     </Console>
    <Failover name="Failover" primary="FILE">
      <Failovers>
        <AppenderRef ref="FALLBACK"/>
      </Failovers>
    </Failover>
  </Appenders>  
  <Loggers>
    <Logger name="com.amazon.kinesis.streaming.agent.metrics.CWPublisherRunnable" level="info"> </Logger>
    <Logger name="com.amazonaws.auth.AWS4Signer" level="info"> </Logger>
    <Logger name="com.amazonaws.http" level="info"> </Logger>
    <Logger name="com.amazonaws.internal" level="info"> </Logger>
    <Logger name="com.amazonaws.request" level="info"> </Logger>
    <Logger name="org.apache.http" level="info"> </Logger>
    <Root level="info">
      <AppenderRef ref="FILE"/>
    </Root>
  </Loggers>
</Configuration>