language: java
jdk:
  - openjdk8
sudo: required
install:
  - true
before_deploy:
  - mvn clean
  - sudo ./setup --build
  - tar -zcvf /tmp/amazon-kinesis-agent-${TRAVIS_TAG}.tgz .
deploy:
  - provider: releases
    file: /tmp/amazon-kinesis-agent-${TRAVIS_TAG}.tgz
    api_key: "$OAUTH_TOKEN"
    skip_cleanup: true
    on:
      tags: true
      all_branches: true
