<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <param name="Encoding" value="UTF-8"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="LOG: %d{yyyy-MM-dd HH:mm:ss.SSSZ} (%t) %c [%p] %m%n"/>
    </layout>
  </appender>
  <appender name="AbstractParser" class="org.apache.log4j.FileAppender">
    <param name="File" value="/tmp/AbstractParser.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="LOG: %d{yyyy-MM-dd HH:mm:ss.SSSZ} (%t) %c [%p] %m%n"/>
    </layout>
  </appender>
  <logger name="com.amazon.kinesis.streaming.agent.tailing.AbstractParser" additivity="false">
    <appender-ref ref="AbstractParser"/>
  </logger>
  <logger name="com.amazon.kinesis.streaming.agent.tailing.FirehoseParser" additivity="false">
    <appender-ref ref="AbstractParser"/>
  </logger>
  <logger name="com.amazon.kinesis.streaming.agent.tailing.KinesisParser" additivity="false">
    <appender-ref ref="AbstractParser"/>
  </logger>
  <logger name="com.amazon.kinesis.streaming.agent.testing.TestUtils">
    <appender-ref ref="console"/>
  </logger>
  <root>
    <level value="debug"/>
    <appender-ref ref="console"/>
  </root>
</log4j:configuration>
